body {
  line-height: 175%;
  font-size: 15px;
}
.first-svg {
  padding-left: 1em;
}

.nav-right input {
  border-radius: 999px !important;
}

.btn:not(.button-first) {
  border-radius: 999px;
  margin: 2em auto 5em;
}
.button-first {
  border-radius: 999px;
  padding: 1em !important;
}
.button-first div {
  line-height: 15px !important;
  font-size: 14px;
  padding: 0em 1em !important;
}
/* Overriding framework text-transform from uppercase to regular capitalized first only*/
.my-button {
  background-color: #e85b4e !important;
  text-transform: capitalize;
  padding: 10px;
}

.my-button div {
  line-height: 15px;
}

.product-top {
  padding-left: 4em !important;
}
header ul li a:not(.my-button) {
  color: black !important;
}

.header-h1 {
  font-weight: 600;
}

.container-whole {
  padding-top: 0px !important;
}

.dark-class {
  background-color: #141518;
}

.header-left-div {
  padding: 2.5em 3em 6.5em !important;
  width: 100%;
}

.responsive-img {
  padding-top: 5em !important;
}
.container-test {
  padding: 8em 0em;
}

.m-i-a {
  font-weight: 700;
}
.mia-img {
  margin-bottom: 2em;
}

.what-is-icon svg {
  align-self: center;
  fill: transparent;
  stroke-width: 3px;
  height: 5rem;
  width: 5rem;
}
.what-is-icon svg [data-stroke='1'],
.what-is-icon svg [data-stroke] {
  stroke: #83e264;
}

.what-is-icon svg [data-stroke='2'] {
  stroke: #eeebe5;
}
.what-is-icon svg [data-color='1'],
.what-is-icon svg [data-fill='1'] {
  fill: #83e264;
}
.what-is-icon svg [data-color='2'],
.what-is-icon svg [data-fill='2'] {
  fill: #eeebe5;
}

.halfway {
  text-align: center;
}
.my-sec-profiles {
  padding: 90px;
}
.blog-pic-container {
  padding: 15px;
  margin: 5px;
}

.blog-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.flexblog {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.concepts {
  padding-bottom: 20px;
}

.what-is-concept {
  padding-bottom: 50px !important;
}

.blog-h6 {
  font-weight: 800;
}
h6 {
  padding: 10px;
}

.talk-to-us {
  padding: 30px;
}

.icon-span svg [data-color],
.icon-span svg [data-fill] {
  fill: rgb(20, 21, 24);
}
.icon-span svg [data-stroke] {
  stroke: rgb(131, 226, 100);
}

.svg-float svg {
  float: left;
  width: 35%;
}

.column-offer {
  padding: 2rem, 0rem, 0rem !important;
}

h5 {
  margin: 0px !important;
  font-weight: 700;
}

.my-sec-resources img {
  width: 100%;
}
.my-sec-resources .readmore,
.my-sec-resources .readmore:visited {
  text-decoration-line: underline;
  color: #e85b4e;
}

.curious-div {
  width: 100%;
}

.footer-svg {
  padding: 1em 4em !important;
}
.social-media {
  padding: 6em 1em !important;
  display: inline-flex;
}
.social-media div {
  margin: 0.25em;
  background-color: #ffffff26;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  min-width: 2.5em;
  width: 2.25em;
}

button {
  background-color: transparent;
  color: white;
  width: 150px;
  padding: 0.5em;
  margin-top: 1em;
}
.flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 0.5rem;
  background-image: url('https://c5.patreon.com/external/localization/country_flags.png');
  background-position: -96px -110px;
}

.footer a,
.footer a:visited {
  font-size: 0.875em;
  color: #ffffff !important;
}

@media screen and (max-width: 600px) {
  .header-left-div {
    min-width: 100%;
  }

  .blog-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .testimonial-change {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .mia-img {
    margin-top: 2em !important;
  }

  .halfway {
    padding-bottom: 2.5em;
  }
  .halfway svg {
    margin: 2em 0em;
  }
  .my-sec-perks {
    padding: 3em 0em;
  }
  .svg-float svg {
    width: 20%;
  }
  .perks-p {
    margin-bottom: 2em;
  }
  .my-sec-member {
    padding: 3em 0em;
  }
  .my-sec-resources {
    display: flex;
    padding: 3em 0em;
  }

  .my-sec-resources img {
    padding: 2em;
  }

  .my-sec-resources .link-elements {
    padding: 0.5em 2em;
  }

  .curious-div {
    padding: 3.5em;
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  .header-left-div {
    min-width: 100%;
  }
  .header-img {
    visibility: hidden;
  }

  .container-test {
    width: 100%;
  }

  .column-offer svg {
    min-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .header-left-div {
    min-width: 50%;
    margin-bottom: 3em;
  }
}
